flows.json
[
    {
        "id": "3b5e7745acbc3db2",
        "type": "tab",
        "label": "Controle TempControl"
    },
    {
        "id": "group",
        "type": "ui_group",
        "name": "Controle de Ambiente",
        "tab": "ad69468e1ec13716",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efc71faa5d1cf2c4",
        "type": "ui_group",
        "name": "Controle de Ambiente",
        "tab": "ad69468e1ec13716",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad69468e1ec13716",
        "type": "ui_tab",
        "name": "Painel TempControl",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "mqtt_broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "0b5c8beb21bd4fbfbe41fbec404e979a.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c5ef284f0b62c67",
        "type": "mqtt in",
        "z": "3b5e7745acbc3db2",
        "name": "Receber Temperatura",
        "topic": "esp32/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker_hivemq",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "018836c888eccee5",
                "5a19808de7c9d8cb"
            ]
        ]
    },
    {
        "id": "018836c888eccee5",
        "type": "ui_gauge",
        "z": "3b5e7745acbc3db2",
        "name": "Gauge Temperatura",
        "group": "efc71faa5d1cf2c4",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura Atual",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 25,
        "seg2": 35,
        "diff": false,
        "className": "",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "5a19808de7c9d8cb",
        "type": "ui_chart",
        "z": "3b5e7745acbc3db2",
        "name": "Histórico Temperatura",
        "group": "efc71faa5d1cf2c4",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Histórico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "046b85a47a17dc55",
        "type": "ui_slider",
        "z": "3b5e7745acbc3db2",
        "name": "Slider Setpoint",
        "label": "Setpoint",
        "tooltip": "",
        "group": "group",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "esp32/setpoint",
        "topicType": "str",
        "min": "20",
        "max": "29",
        "step": 0.5,
        "className": "",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "7f80c035372160e8",
                "ui_numeric_setpoint"
            ]
        ]
    },
    {
        "id": "7f80c035372160e8",
        "type": "mqtt out",
        "z": "3b5e7745acbc3db2",
        "name": "Publicar Setpoint",
        "topic": "esp32/setpoint",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_hivemq",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "5682014c1ca6a3f5",
        "type": "ui_switch",
        "z": "3b5e7745acbc3db2",
        "name": "Switch Controle Manual",
        "label": "Controle Manual ON/OFF",
        "tooltip": "",
        "group": "efc71faa5d1cf2c4",
        "order": 4,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "esp32/controle",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "5740c155daa2702c",
                "a0cf9d60f593c8b7",
                "044786ba2fbc639c",
                "ui_text_rele"
            ]
        ]
    },
    {
        "id": "5740c155daa2702c",
        "type": "mqtt out",
        "z": "3b5e7745acbc3db2",
        "name": "Publicar Controle",
        "topic": "esp32/controle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_hivemq",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "ui_numeric_setpoint",
        "type": "ui_numeric",
        "z": "3b5e7745acbc3db2",
        "name": "Setpoint Numérico",
        "label": "Setpoint Numérico",
        "tooltip": "",
        "group": "group",
        "order": 2,
        "width": "6",
        "height": "2",
        "wrap": false,
        "passthru": true,
        "topic": "esp32/setpoint",
        "topicType": "str",
        "format": "{{value}}",
        "min": "20",
        "max": "29",
        "step": 0.5,
        "className": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "7f80c035372160e8",
                "046b85a47a17dc55"
            ]
        ]
    },
    {
        "id": "mqtt_in_rele",
        "type": "mqtt in",
        "z": "3b5e7745acbc3db2",
        "name": "Receber Status Relé",
        "topic": "esp32/rele",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker_hivemq",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "ui_text_rele",
                "a0cf9d60f593c8b7"
            ]
        ]
    },
    {
        "id": "ui_text_rele",
        "type": "ui_text",
        "z": "3b5e7745acbc3db2",
        "group": "group",
        "order": 5,
        "width": "6",
        "height": "2",
        "name": "Status Sistema",
        "label": "Status",
        "format": "{{msg.payload == '1' ? 'Sistema Resfriando' : 'Em Espera'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "a0cf9d60f593c8b7",
        "type": "ui_chart",
        "z": "3b5e7745acbc3db2",
        "name": "",
        "group": "group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Histórico de atuações",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ec8918",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "044786ba2fbc639c",
        "type": "ui_text",
        "z": "3b5e7745acbc3db2",
        "group": "group",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Modo",
        "format": "{{msg.payload == '1' ? 'Manual' : 'Automático'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 420,
        "wires": []
    }
]
